<!DOCTYPE html>
<html>
  <head>
    <title>Practice for a freecodecamp project</title>
    <meta name = "description" content = "URL Shortener Microservice">
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src= "/client.js"></script>
  </head>
  <body>
    <h1>URL Shortener Microservice</h1>
    <h2>---A FreeCodeCamp Practice</h2>
    <div class = "inputArea">
      <p class = "direction">Please input the URL to Shorten</p>
      <p class = "direction">URL Example: www.xxxxxxx.com</p>
      <input id = "URLText" type = "text" placeholder = "URL To Shorten" required = "" />
      <button class = "btn btn-primary" id = "inputButton">Got it!</button>
    </div>    
  </body>


</html>
